/**
* Start of the calling modal
*/

#calling-modal .modal-dialog {
    width: 84%;
    color: black;
}

#calling-modal .modal-content {
    border-radius: 30px;
}

#calling-modal .patient-row {
    padding: 57px 0;
    border-bottom: none;
    margin: 0 19px;
    text-align: center;
}

#calling-modal .patient-row .ticket {
    padding: 0;
    font-size: 161px;
    text-align: left;
    margin: -15px 28px 0 19px;
    width: 42%;
}

#calling-modal .patient-row .destination-cont {
    margin-left: 53px;
    padding: 0;
    text-align: left;
    width: 34%;
}

#calling-modal .patient-row .destination-cont .room {
    margin-top: -17px;
    display: inline-block;
    font-size: 124px;
}

/**
* End of the calling modal
*/

/*
When visit room is not specified
*/
.patients-list .patient-row .destination-cont .no-room {
    display: block;
    text-align: center;
    margin-top: 0;
    font-size: 75px;
}

.patients-list .patient-row .destination-cont .category {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: -21px 0 0px 4px;
}
